[Unit]
Description=PiTFT Display (status only)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/zerocool/pitft-venv/bin/python3 /home/zerocool/pitft_display.py
WorkingDirectory=/home/zerocool
User=root
Group=root
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=tft-display

[Install]
WantedBy=multi-user.target


